[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.aws-s3" = "*"
"aws-cdk.aws-lambda" = "*"
boto3 = "*"

[dev-packages]
yapf = "*"
pylint = "*"
nbconvert = "*"

[requires]
python_version = "3.8"
